/*
font-family: 'Inter', sans-serif;
font-family: 'Playfair Display', serif;
*/

* {
    margin: 0;
    padding: 0;
 }


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

 a{
    text-decoration: none;
}
/* ---------------------------------------------------------------------- CAMBIOS GENERALES ---------------------------------------------------------------------------------------*/
.titulosIniciales{
    padding: 10px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: aliceblue;
    /*Gradient*/
    background: #75a4b1;
    background: linear-gradient(90deg,#75a4b1 10%, #d7d7d7 70%);
    background: -webkit-linear-gradient(90deg,#75a4b1 10%, #d7d7d7 70%);
    background: -moz-linear-gradient(90deg,#75a4b1 10%, #d7d7d7 70%);
}

#subtituloRedes{
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
    text-decoration:overline;
}

/* ----------------------------------------------------------------------- CAMBIOS INDEX -----------------------------------------------------------------------------------------*/
#cajaImagen{
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;
}
#cajaImagen img{
    height: 500px;
    width: 700px;
    box-shadow: -5px 2px 5px 1px rgb(158, 157, 157);
}


.datosPersonales{
    padding: 10px;
    margin: 20px;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.listaRedes{
    text-align: center;
}

.listaRedes li{
    display: inline-block;
}

.iconoSocial{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 50px;
    color: rgb(37, 37, 90);
}

.clickForm{
    color: blue;
    font-size: 20px;
}


/* --------------------------------------------------------------------- CAMBIOS PAGINA FORMULARIO -------------------------------------------------------------------------------*/
.cajaFormulario{
    margin: 30px 30px;
    padding: 30px;
    border: 1px solid black;
}


/*---------------------------------------------------------------------- CAMBIOS TAREA FLEX-BOX----------------------------------------------------------------*/

.contenedorUno{
    background-color: white;
    border: solid black;
    display: flex;
    flex-direction: column;
}


.contenedorDos{
    background-color: white;
    border: solid blue;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.contenedorTres{
    background-color: white;
    border: solid green;
    display: flex;
    justify-content: space-between;
}


.item{
    background-color: rgb(56, 118, 122);
    width: 150px;
    height: 150px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemDos{
    background-color: rgb(39, 153, 5);
    width: 150px;
    height: 150px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemTres{
    background-color: rgb(91, 101, 247);
    width: 150px;
    height: 150px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*------------------------------------------- TAREA MEDIA QUERIES -------------------------*/
.body-media {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor-media {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
.nav-media {
	background: #CC3910;
	float: left;
	width: 160px;
}
.ul-media {
	list-style-type:none;
}
.a-media {
	color:#F1F2C0;
	text-decoration: none;
}
.section-media {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
.aside-media {
	background: #CCC59E;
	float: right;
	width: 190px;
}


@media screen and (min-width: 230px) and (max-width: 800px){
    .body-media{
        padding: 0;
        margin: 0;
        background: #6fbb9e;
    }

    #contenedor-media{
        background: grey;
        width: 100%;
    }

    .nav-media{
        background: rgb(240, 243, 72);
        float: none;
        width: 100%;
    }

    .nav-media .ul-media{
        margin: 0;
    }

    .nav-media .ul-media li a{
        padding: 0.5em;
        display: block;
        color: blue;
        font-size: 20px;
    }

    .section-media{
        border-top: solid rgb(255, 0, 0) 0.2em;
        float: none;
        padding: 0.6em;
        width: 100%;
        margin-left: 0;
    }

    .aside-media{
        border-top: solid black 0.2em;
        float: none;
        padding: 0.6em;
        width: 100%;
        margin-left: 0;
    }

}




/*----------------------------------------------- TAREA BOOTSTRAP -------------------------------------------------------------*/
.carousel-inner{
    max-height: 40rem;
}

footer{
    text-align: center;
    background-color:#75a4b1;
    color: white;
    font-size: 1rem;
    margin-top: auto;
}